<div class="profile_options">

  <div class="edit_profile">
    <%= link_to "Edit Profile", edit_profile_path %>
  </div>

  <div class="edit_registration">
    <%= link_to('Edit registration', edit_user_registration_path) %>
  </div>

  <div class="title">
    <h3>Your Profile!</h3>
  </div>

</div>
