<html id="group-totals">

  <div class="group-index-page">
    Your Groups!
  </div>

  <div class="group-content">
    <% @relevant_groups.each do |group| %>
      <div class="small-12 medium-4 columns">
        <div class="groupies">
          <%= link_to "#{group.name}", group_path(group) %></br>
          <%= group.city %>
        </div>
      </div>
    <% end %>
  </div>

</html>
