<div class="groupform">

  <div class="createyourgroup">Create Your Group!</div>

  <div class="row">
    Please fill out all fields in order to create your group.
  </div>

  <%= render "form" %>

</div>
