/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 .menu-text {
   color: #fff;
 }

 .main-title {
   width: 300px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  margin: -70px 0 0 -170px;
 }

 .menu li {
   color: #fff;
 }

 .happiness * {
   color: #fff;
 }

 .unhappiness * {
   color: #fff;
 }

 .happiness li a {
   a:hover, a:focus {
     color: #fff;
   }
 }

 .Profiletitle {
   text-align: center;
 }

 .information {
   padding-top: 50px;
   padding-left: 5%;
 }
 .information *{
   padding-top: 8px;
   padding-bottom: 8px;
 }

 .edit_profile {
   padding-top: 10px;
   padding-left: 5%;
 }

 .main-title * {
   text-align: center;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   color: #fedcd2;
   font-size: 400%;
   font-family: 'Leckerli One', cursive;
 }

 .front-page-image {
  text-align: center;
 }

 .groupies {
   padding: 20px;
 }

 .group-index-page {
   text-align: center;
   color: #fedcd2;
   font-size: 250%;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   font-family: 'Leckerli One', cursive;
 }

 .group-content {
   text-align: center;
 }

 html {
   background-image: image-url("background4.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
 };

 .edit-group-info * {
   display: inline-block;
 }
