/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 #flash-notices-non-js {
   color: #fff;
   background-color: #5cc5ef;
   font-size: 20px;
   width: 100%;
   font-weight: bold;
   text-align: center;
 }

html#group-totals a:hover {
   color: #f1d3bc;
 }

 html#group-totals a {
    color: #fff;
    font-weight: bold;
  }

 .menu-text {
   color: #fff;
 }

 #hellohellohello{
   height: 5px;
 }

 .main-title {
   width: 350px;
  height: 100px;
  padding: 20px;

  position: absolute;
  top: 35%;
  left: 50%;

  margin: -70px 0 0 -170px;
 }

 .menu li {
   color: #fff;
 }

 .happiness * {
   color: #fff;
 }

 .unhappiness * {
   color: #fff;
 }

 .happiness li a:hover {
   color: #f1d3bc;
 }

 .unhappiness a:hover {
   color: #f1d3bc;
 }

 .Profiletitle {
   color: #fff;
   text-align: center;
   font-family: 'Leckerli One', cursive;
   font-size: 290%;
   padding-top: 2%;
   padding-bottom: 2%;
 }

 .information {
   padding-top: 50px;
   background-color: rgba(255,255,255, 0.7);
   text-align: center;
 }

 .information *{
   padding-top: 8px;
   padding-bottom: 8px;
 }

 .edit_profile {
   padding-top: 10px;
 }


 .front-page-image {
  text-align: center;
 }

 .group-index-page {
   text-align: center;
   color: #FF6464;
   font-size: 290%;
   font-family: 'Leckerli One', cursive;
   padding-top: 2%;
   padding-bottom: 1%;
 }

 .group-content {
  text-align: center;
 }

 .group-content .groupies{
   padding: 5%;
 }

 html {
   background-image: image-url("background9.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-attachment: fixed;
 };

 .edit-group-info * {
   display: inline-block;
 }

 .groupies {
   background-color: rgba(255,255,255, 0.5);
 }

 html#homepage {
  background-image: image-url("background10.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
 }

 html#group-individuals {
   background-image: image-url("background2.jpg");
 }

 #marker-sidebar {
   background-color: rgba(255,255,255, 0.7);
 }

 html#group-individuals #infobutton{
   background-color: #2199e8;
   border-radius: 20px;
 }

 .top-bar {
   height: 9%;
 }

 .groupmagic *{
   text-align: center;
 }

 .new_group {
   color: #FF6464;
   width: 25%;
   padding-left: 1%;
 }

 .new_group label {
   color: #fff;
 }

 .createyourgroup {
   float: left;
   color: #FF6464;
   font-size: 290%;
   font-family: 'Leckerli One', cursive;
   padding-top: 2%;
   padding-bottom: 1%;
   padding-left: 2%;
 }

 .edit_profile input{
   padding-left: 1%;
   width: 25%;
 }

 .edit_profile label {
   color: #fff;
 }

 .editprofile {
   float: center;
   color: #FF6464;
   font-size: 270%;
   font-family: 'Leckerli One', cursive;
   padding-top: 2%;
   padding-bottom: 1%;
   padding-left: 2%;
 }

 .new_user input,
 .edit_user input,
 #user_name,
 .edit_group input,
 #group_country {
   width: 25%;
 }

 #profile_about {
   width: 50%;
   height: 15%;
 }

 .new_user,
 .edit_profile,
 .edit_user {
   padding-left: 1%;
 }

 .edit_user label,
 .new_user label,
 .edit_group label {
   color: #fff;
   font-size: 17px;
 }

 .edit_user i,
 .new_user em,
 #profile_avatar_url {
   color: #fff;
 }

 .unhappyquestion {
   color: #fff;
   padding: 1%;
 }

 #updatebuttonspecial,
 #singupbutton,
 #loginbutton,
 #updateprofbutton {
   width: auto;
 }

 .editusertitle,
 .signuptitle,
 .logintitle,
 .updategrouptitle {
   padding: 2%;
   color: #FF6464;
   font-size: 270%;
   font-family: 'Leckerli One', cursive;
 }

 #user_remember_me,
 #profile_remove_avatar_url {
   width: auto;
 }

 .remove_avatar_stuff {
   display: inline-block;
 }

 .row-padding {
   margin-bottom: 1em;
   margin-top: 1.5em;
 }
